__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv
venv/
ENV/
backend/venv/
backend/chroma_db/
node_modules/
frontend/node_modules/
frontend/dist/
.idea/
.vscode/
.serena/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
logs/
*.log
remote-kernel/
/*.txt
!/задание.txt